{% extends 'blog/base.html' %}

{% block content %}
<p class="d-inline-flex gap-1">
  <div class="tagFilterContainerDeactived" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  
    <span class="TagLabel">Tags</span>

  </div>

</p>
<div class="collapse" id="collapseExample">
    <div>
        {% csrf_token %}
        <table class="TagList">
            {% if TagList %}
                {% for tag in TagList %}
                {% if forloop.counter0|divisibleby:6  %}
              <tr>
            {% endif %}
                                 <td class="TagElement">
                    <button type="button" class="filterDeactived btn btn-default filter{{ tag.getTagAsattributeClassHtml }}" onclick="filter('{{ tag.getTagAsattributeClassHtml }}')">{{tag.tag}}</button>
                </td>


            {% if forloop.counter0|add:1|divisibleby:6 or forloop.last %}
              </tr>
             {% endif %}
{% endfor %}
{% endif %}
        </table>
    </div>
</div>

<div id="tableMangaContainer">
{% include './tableManga.html' with MangaList=Mangalist %}
</div>
<script>

var tagsActivated = []

    function filter(tag){



    var manga = $(".manga")
    var tagSelected = $(".filter"+tag);
    var indexTag = tagsActivated.indexOf(tag)
    console.log(indexTag)
    if(indexTag > -1){
        tagsActivated.splice(indexTag,1)
        tagSelected.removeClass("filterActived");
        tagSelected.addClass("filterDeactived");
    }
    else{
        tagSelected.addClass("filterActived");
        tagSelected.removeClass("filterDeactived");
        tagsActivated.push(tagSelected.text())}
        var jsonResult = JSON.stringify(tagsActivated)
        console.log(jsonResult)
      $.ajax({
		url: "{% url 'tableMangaFilter' %}",
		type: "POST",
		data:{"filterTag":jsonResult, 'csrfmiddlewaretoken':$( "input[name='csrfmiddlewaretoken']" ).val()},
		success: (data) => {

            $("#tableMangaContainer").html(data)

		},
		error: (error) => {
			console.log(error);
		}
  });

}

</script>

{% endblock %}
